{% extends 'base.html.twig' %}

{% block title %}Registrace Dokončena{% endblock %}

{% block body %}
    <div>Předívka: <b>{{ userData.nickname }}</b></div>
    <div>Email: <b>{{ userData.email }}</b></div>
    <div>Role: <b>{{ userData.role }}</b></div>
    <div><a href="{{ path('register') }}">Nová Registrace</a></div>
{% endblock %}
