{% extends 'base.html.twig' %}

{% block title %}Položky!{% endblock %}

{% block body %}
    <table>
        <tr><th>Name</th><th></th></tr>
        {% for article in articles %}
            <tr><td>{{ article['name'] }}</td><td><a href="{{ path('articles_edit', {'articleId': article['id']}) }}">Upravit</a></td></tr>
        {% endfor %}
    </table>
    <a href="{{ path('articles_new') }}">VYTVO5IT NOVÝ</a>
{% endblock %}